# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

entidades/__pycache__/
ventanas/cargar_partida/__pycache__/
ventanas/juego/__pycache__/
ventanas/menu/__pycache__/
ventanas/nueva_partida/__pycache__/
ventanas/__pycache__/
__pycache__/
*.pyo
*.pyd
*.pyc
